
.footer-container{
    padding-left: 20px;
    width: 100%;
    /*opacity: 0.4;*/
    background-color: #e0f2f1;
    position: absolute;
    left: 0;
    bottom: 0;
    color: black;
}

.footer{
    opacity: 1;
    font-size: 3vh;
}