.add{
    height: 6vh;
    margin-top: -16%;
}
.inpbox{
    margin-top: 0;
}
.subjname{
    font-size: 4vh;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color: #01579b;
}
.age-{
    font-size: 3.5vh;
    display: inline-block;
    font-family: 'Lemonada', cursive;
    margin-left: 50%;
    color: #00c853;
}
.input-group{
    height: 2vh;
    float: right;
    width: 25%;
}
.sec{
    margin-top: 2%;
}
.thir{
    margin-top: 9%;
    margin-bottom: 3%;
}
.taip, .tbip{
    width: 30%;
}
.ta, .tb{
    font-size: 3vh;
    display: inline-block;
}
.subject{
    margin:2%;
    padding: 2%;
}

.classcolor{
    background-color: #ff0e09;
    width: 100%;
    height: 2vh;
    display: inline-block;
}