
.box{
    width: 75%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-style: solid;
    border-width: 1px;
    border-color: #cfd8dc;
    position: relative;
    top: 10vh;
    left:12.5%;
    min-height: 70vh;
    max-height: 70vh;
}
.bar{
    height: 9vh;
    width: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cfd8dc;
}
.ele{
    vertical-align: middle;
    font-family: 'Lobster', cursive;
    font-size: 4vh;
    text-align: center;
    width: 19.7%;
}
.nav-link{
    cursor: pointer;
}
#mondiv, #tuediv, #weddiv, #thudiv, #fridiv{
    background-color: inherit;
    min-height: 61vh;
    max-height: 61vh;
    overflow: auto;
}
#tuediv, #weddiv, #thudiv, #fridiv{
    display: none;
}

.daydiv{
    width: 96%;
    position: absolute;
    top:9vh;
    left: 2%;
    color: black;
    font-size: 4vh;
}
.subject{
    height: 7vh;
    margin-top: 2%;
    width: auto;
    display: block;
    background-color: white;
    position: relative;
}
.classcolor{
    display: inline-block;
    height:7vh !important;
    width: 7%;
    height: auto;
}
.time{
    color: #f44336;
    margin-top: 0.5%;
    vertical-align: top;
    height:inherit;
    float: right;
    margin-right: 2%;
    font-family: 'Anton', sans-serif;
}
.class{
    margin-left: 1%;
    margin-top: 0.5%;
    vertical-align: top;
    height:inherit;
    display: inline-block;
    font-family: 'Zilla Slab', serif;
}
.plus{
    z-index: 100;
    position: fixed;
    bottom: 6vh;
    right: 14%;
}

@media screen and (max-width: 1090px){
    .navloc{
        font-size: 3vh;
    }
    .ele{
        font-size: 3vh;
    }
}

@media screen and (max-width: 720px){
    .navloc{
        font-size: 2.5vh;
    }
    .heading{
        font-size: 5vh;
    }
    .box{
        width:90%;
        left: 5%;
    }
    .ele{
        font-size: 2vh;
    }
    .bar{
        height: 6vh;
    }
    .plus{
        bottom: 9vh;
        right: 6%;
    }
}